/* :root {
  #fff: #fff;
  #f2f2f3: #f2f2f3;
  #fff: #fff;
  #000: #000;
  #fff: #fff;
  #e2dede: #e2dede;
  --add-btn-hover: #000;
  #fff: #fff;
  #091e4214: #091e4214;
}
[data-theme="dark"] {
  --background-color: #212121;
  #f2f2f3: #383838;
  #fff: #212121;
  #e2dede: #2a2a2a;
  #fff: #383838;
  #000: #fff;
  --add-btn-hover: #fff;
  #fff: #383838;
  #091e4214: #212121;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background: url("/src/assets/bg.mp4");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
